.container {
    background-color: #FDF0E9;
}

.button {
    width: 170px;
    height: 48px;
    border-radius: 6px;
    padding: 14px 46px 15px 46px;
    background-color: aqua;
    border: 1px solid #fff;
    position: relative;
    margin-top: 3rem;
    margin-left: 60rem;
    cursor: pointer;

    @media(max-width: 1440px) {
        margin-left: 48rem;
    }

    @media(max-width: 1250px) {
        margin-left: 42rem;
    }

    @media(max-width: 1130px) {
        margin-left: 38rem;
    }

    @media(max-width: 1040px) {
        margin-left: 33rem;
    }

    @media(max-width: 768px) {
        margin-left: 22rem;
    }

    @media(max-width: 700px) {
        margin-left: 18rem;
    }

    @media(max-width: 425px) {
        margin-left: 10rem;
    }
}